[Unit]
Description="MQTT Display Messages"
[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/ccoupe/.Xauthority
ExecStart=/home/ccoupe/Projects/iot/dpymsg/dpymsg.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
